compose.yml
*.compose.yml

config
certs
config*/
certs*/
bin/
error_pages/
!examples/error_pages/

logs/
log/

.vscode/settings.json

go.work.sum

!cmd/**/
!internal/**/

todo.md

.*.swp
.aider*
mtrace.json
.env
test.Dockerfile
