compose.yml
*.compose.yml

config
certs
config*/
!schemas/**
certs*/
bin/
error_pages/
!examples/error_pages/
profiles/

logs/
log/

.vscode/settings.json

go.work.sum

!cmd/**/
!internal/**/

todo.md

.*.swp
.aider*
mtrace.json
.env
test.Dockerfile

node_modules/
tsconfig.tsbuildinfo

!agent.compose.yml
!agent/pkg/**