<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="/codemirror/theme/dracula.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <title>Config Editor</title>
  </head>
  <body>
    <div class="container">
      <div class="file-navigation">
        <h3 class="navigation-header">Config Files</h3>
        <ul id="file-list">
          {{- range $_, $cfgFile := .}}
          <li id="file-{{$cfgFile}}">
            <a class="unselectable">{{$cfgFile}}</a>
          </li>
          {{- end}}
        </ul>
      </div>
      <div id="config-editor"></div>
    </div>

    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/yaml/yaml.js"></script>
    <script src="/codemirror/keymap/sublime.js"></script>
    <script src="/codemirror/addon/comment/comment.js"></script>
    <script src="index.js" onload="onLoad()"></script>
  </body>
</html>
