<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <title>Route Panel</title>
  </head>

  <body class="m-3">
    <script src="index.js" defer></script>
    <div class="container">
      <h1 class="text-success">Route Panel</h1>
      <div class="row">
        <div class="table-responsive col-md-auto flex-shrink-1">
          <table class="table table-striped table-dark caption-top">
            <caption>
              HTTP Proxies
            </caption>
            <thead>
              <tr>
                <th>Alias</th>
                <th>Path</th>
                <th>Path Mode</th>
                <th>URL</th>
                <th>Health</th>
              </tr>
            </thead>
            <tbody>
              {{range $alias, $pathPoolMap := .HTTPRoutes.Iterator}} {{range
              $path, $lbPool := $pathPoolMap.Iterator}} {{range $_, $route :=
              $lbPool.Iterator}}
              <tr>
                <td>{{$alias}}</td>
                <td>{{$path}}</td>
                <td>{{$route.PathMode}}</td>
                <td id="url-cell">{{$route.Url.String}}</td>
                <td class="align-middle" id="health-cell">
                  <div class="health-circle"></div>
                </td>
                <!-- Health column -->
              </tr>
              {{end}} {{end}} {{end}}
            </tbody>
          </table>
        </div>
        <div class="table-responsive col-md">
          <table class="table table-striped table-dark caption-top w-auto">
            <caption>
              Streams
            </caption>
            <thead>
              <tr>
                <th>Alias</th>
                <th>Source</th>
                <th>Target</th>
                <th>Health</th>
              </tr>
            </thead>
            <tbody>
              {{range $_, $route := .StreamRoutes.Iterator}}
              <tr>
                <td>{{$route.Alias}}</td>
                <td>{{$route.ListeningUrl}}</td>
                <td id="url-cell">{{$route.TargetUrl}}</td>
                <td class="align-middle" id="health-cell">
                  <div class="health-circle"></div>
                </td>
                <!-- Health column -->
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
