body {
  background-color: #131516;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  border-radius: 10px;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}

table td:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table td:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

table caption {
  color: antiquewhite;
}

.health-circle {
  height: 15px;
  width: 15px;
  background-color: #28a745;
  border-radius: 50%;
  margin: auto;
}
