<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <title>go-proxy</title>
  </head>
  <body>
    <script src="main.js"></script>
    <div id="sidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a href="#" onClick='setContent("/panel")'>Panel</a>
      <a href="#" onClick='setContent("/config_editor")'>Config Editor</a>
    </div>
    <a class="openbtn" id="openbtn" onclick="openNav()">&equiv;</a>
    <div id="main">
      <iframe id="content" src="/config_editor" title="panel"></iframe>
    </div>
  </body>
</html>
